@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../../../node_modules/@mdxeditor/editor/dist/style.css';
@import url('@radix-ui/colors/tomato-dark.css');
@import url('@radix-ui/colors/mauve-dark.css');

.dark-editor {
    --accentBase: var(--tomato-1);
    --accentBgSubtle: var(--tomato-2);
    --accentBg: var(--tomato-3);
    --accentBgHover: var(--tomato-4);
    --accentBgActive: var(--tomato-5);
    --accentLine: var(--tomato-6);
    --accentBorder: var(--tomato-7);
    --accentBorderHover: var(--tomato-8);
    --accentSolid: var(--tomato-9);
    --accentSolidHover: var(--tomato-10);
    --accentText: var(--tomato-11);
    --accentTextContrast: var(--tomato-12);

    --baseBase: var(--mauve-1);
    --baseBgSubtle: var(--mauve-2);
    --baseBg: var(--mauve-3);
    --baseBgHover: var(--mauve-4);
    --baseBgActive: var(--mauve-5);
    --baseLine: var(--mauve-6);
    --baseBorder: var(--mauve-7);
    --baseBorderHover: var(--mauve-8);
    --baseSolid: var(--mauve-9);
    --baseSolidHover: var(--mauve-10);
    --baseText: var(--mauve-11);
    --baseTextContrast: var(--mauve-12);

    --admonitionTipBg: var(--cyan4);
    --admonitionTipBorder: var(--cyan8);

    --admonitionInfoBg: var(--grass4);
    --admonitionInfoBorder: var(--grass8);

    --admonitionCautionBg: var(--amber4);
    --admonitionCautionBorder: var(--amber8);

    --admonitionDangerBg: var(--red4);
    --admonitionDangerBorder: var(--red8);

    --admonitionNoteBg: var(--mauve-4);
    --admonitionNoteBorder: var(--mauve-8);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;

    color: var(--baseText);
    --basePageBg: black;
    background: var(--basePageBg);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
body {
    scrollbar-gutter: stable both-edges;
    margin: 0px;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --card: 224 71% 4%;
        --card-foreground: 213 31% 91%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 1.2%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 345 88% 46%;
        --destructive-foreground: 210 40% 98%;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }
}
.scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: hsl(var(--background));
}
.scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--accent));
}

/* Reapplying the preflight things */
*,
::before,
::after {
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
}

html {
    overflow-y: scroll;
}
img,
video {
    max-width: 100%;
    height: auto;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

/* Text selection styles */
::selection {
    background: #0a1020;
    color: white;
}

/* Text selection styles for dark theme */
.dark ::selection {
    background: white;
    color: #0a1020;
}
/* @layer base { */
/*     * { */
/*         @apply border-border; */
/*     } */
/*     body { */
/*         @apply bg-background text-foreground; */
/*     } */
/* } */
